/*
.login
>.login-box
>form
>.title{LOGIN}+(label+input)*2+a{忘記密碼?}+button{註冊}+button{登入} */


.login{
  margin: 56px 0;
  width: 100%;
  height: 75vh;
  background-color: #0003;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box{
  z-index: 10;
  max-width: 300px;
  border: solid 3px #fff;
  border-radius: 2rem;
  background: #aaa2;
  box-sizing: border-box;
  padding: 0 1em 5em 1em;
  color: #fff;
  text-shadow:
      -0.2rem -0.2rem 1rem #fff,
      0.2rem 0.2rem 1rem #fff,
      0 0 2rem #fff;
  box-shadow:
      0 0 .5rem #fff,
      inset 0 0 .5rem #fff,
      0 0 2rem #fff,
      inset 0 0 2rem #fff,
      0 0 4rem #fff,
      inset 0 0 4rem #fff;
}
.login-box form{
  position: relative;
}
.login-box .title{
  padding: 15px 0;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  color: #fff;
}
.login-box input{
  color: var(--neon-color4);
  background-color: #0003;
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 16px;
  line-height: 2em;
  width: 95%;
}
.login-box input:focus{
  color: var(--neon-color4);
  background-color: #0003;
}
.login-box a{
  font-size: 14px;
  color: #fff;
}
.login-box a:focus,.login-box a:hover{
  color: #fff;
}
.login-box button{
  width: 125px;
  border: 1px solid #fff;
  border-radius: 2rem;
  color: #fff;
  position: absolute;
  background-color: transparent;
  bottom: -60px;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff;
  box-shadow:
    0 0 .5rem #fff,
    inset 0 0 .5rem #fff,
    0 0 2rem #fff,
    inset 0 0 2rem #fff
    ;
}
.login-box .Sign-up{
  left: 0px;
}
.login-box .Sign-in{
  right: 0px;
  text-shadow:
    0 0 5px var(--neon-color4),
    0 0 10px var(--neon-color4),
    0 0 15px var(--neon-color4);
  box-shadow:
    0 0 .5rem var(--neon-color4),
    inset 0 0 .5rem var(--neon-color4),
    0 0 2rem var(--neon-color4),
    inset 0 0 2rem var(--neon-color4),
    0 0 4rem var(--neon-color4),
    inset 0 0 4rem var(--neon-color4);
}
